language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
#  - hhvm

env:
#   - SYMFONY_VERSION=2.1.*
#   - SYMFONY_VERSION=2.2.*
   - SYMFONY_VERSION=2.3.*
   - SYMFONY_VERSION=2.4.*
   - SYMFONY_VERSION=dev-master

matrix:
    allow_failures:
#        - php: hhvm
        - env: SYMFONY_VERSION=dev-master

before_script:
  - pecl -q install xhprof-beta && echo "extension=xhprof.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update --dev
  - composer require symfony/browser-kit:${SYMFONY_VERSION} --no-update --dev
  - composer update --prefer-dist --no-interaction

script: phpunit
